<!DOCTYPE html>

<html lang="en">
  <head>
    <title>create-zigzag-app</title>
    <base href="./">
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0'>
  </head>
  <body>
    <%= require('html-loader!./header/header.html') %>
    <article id="article">
      <section class="section">
        <h1 class="title">Write it go</h1>
        <p class="content">
          The schedule's tight on the cluster tonight<br/>
          분산환경에서 해야 할 일로 쉴 틈 없을 오늘밤<br/>
          So I parallelized my code<br/>
          그래서 저는 병렬화된 코드를 작성했지요<br/>
          All those threads and continuations<br/>
          그 모든 스레드와 연속성들로<br/>
          My head's going to explode<br/>
          제 머리는 폭발하기 일보직전이랍니다<br/>
          And all that boilerplate<br/>
          심지어 그 모든 의례적인 코드들<br/>
          That FactoryBuilderAdapterDelegateImpl<br/>
          그 모든 "괴상야릇한디자인패턴의복잡다단한구현의향연"<br/>
          Seems unjustified<br/>
          이건 제가 가야 할 길이 아닌 것만 같아요<br/>
          Give me something simple<br/>
          좀 더 간결한 길을 알려주시겠어요?<br/>
          <br/>
          Don't write in Scheme<br/>
          Scheme 쓰지 마세요<br/>
          Don't write in C<br/>
          C로 짜지 마세요<br/>
          No more pointers that I forget to free()<br/>
          해제하길 깜빡한 포인터여 이제 그만 안녕<br/>
          Java's verbose, Python's too slow<br/>
          Java는 장황하고, Python은 느려터졌단 걸<br/>
          It's time you know<br/>
          이제 깨달을 때가 왔어요<br/>
          <br/>
          Write in Go! Write in Go!<br/>
          Go로 짜세요, Go로 짜세요!<br/>
          No inheritance anymore<br/>
          클래스 상속이여 이제 그만 안녕<br/>
          Write in Go! Write in Go!<br/>
          Go로 짜세요, Go로 짜세요!<br/>
          There's no do or while, just for<br/>
          do도 while도 없어, 오직 for뿐<br/>
          I don't care what your linters say<br/>
          당신의 linter가 뭐라 불평하든 상관없어요<br/>
          I've got tools for that<br/>
          제겐 해결책이 있답니다<br/>
          The code never bothered me anyway<br/>
          코드 자체가 신경 쓸 일을 만들지 않을테니 말이죠<br/>
        </p>
      </section>
      <section class="section">
        <h1 class="title">행운의 편지</h1>
        <p class="content">
          이 편지는 영국에서 최초로 시작되어 일년에 한 바퀴 돌면서 받는 사람에게 행운을 주었고,<br/>
          지금은 당신에게로 옮겨진 이 편지는 4일 안에 당신 곁을 떠나야 합니다.<br/>
          이 편지를 포함해서 7통을 행운이 필요한 사람에게 보내 주셔야 합니다.<br/>
          복사를 해도 좋습니다.<br/>
          혹 미신이라 하실지 모르지만 사실입니다.<br/>
          영국에서 HGXWCH이라는 사람은 1930년에 이 편지를 받았습니다.<br/>
          그는 비서에게 복사해서 보내라고 했습니다.<br/>
          며칠 뒤에 복권이 당첨되어 20억을 받았습니다.<br/>
          어떤 이는 이 편지를 받았으나 96시간 이내 자신의 손에서 떠나야 한다는 사실을 잊었습니다.<br/>
          그는 곧 사직되었습니다.<br/>
          나중에야 이 사실을 알고 7통의 편지를 보냈는데 다시 좋은 직장을 얻었습니다.<br/>
          미국의 케네디 대통령은 이 편지를 받았지만 그냥 버렸습니다.<br/>
          결국 9일 후 그는 암살 당했습니다.<br/>
          기억해 주세요.<br/>
          이 편지를 보내면 7년의 행운이 있을 것이고 그렇지 않으면 3년의 불행이 있을 것입니다.<br/>
          그리고 이 편지를 버리거나 낙서를 해서는 절대로 안됩니다.<br/>
          7통입니다.<br/>
          이 편지를 받은 사람은 행운이 깃들 것입니다.<br/>
          힘들겠지만 좋은게 좋다고 생각하세요.<br/>
          7년의 행운을 빌면서..<br/>
        </p>
      </section>
      <section class="section">
        <h1 class="title">죽음/고백받기</h1>
        <p class="content">
          이 글을 본 당신생명이 하루밖에 남지 않았습니다.<br/>
          정말 죄송합니다.<br/>
          저도 이런 글 올리는 것 죄송한데요 제 친구도 제 말을 거짓말로 알았다가 죽었습니다.<br/>
          여러분께 피해 입히지 않기 위해 이 글 씁니다.<br/>
          여러분이 이 글을 보고 바로 끄면 끄는 순간 당신의 목숨이 끝나는 것은 시작됩니다.<br/>
          끌 때부터 24시간 너무 짧은 시간입니다.<br/>
          당신의 목숨 제가 살리겠습니다.<br/>
          만약 24시간 내에 당신이 죽지 않는다면,<br/>
          매일 밤 새벽2시에 얼굴이 반쪽이고 눈이 파란 귀신이 찾아와 당신을 죽이려고 할 것입니다.<br/>
          이 글을 다른곳에 딱 3번만 복사해서 올려도 좋습니다.<br/>
          시간은 44분 입니다.<br/>
          이 글을 다른곳에 복사하면 사랑하는 사람에게 고백을 받을 것입니다.<br/>
        </p>
      </section>
      <section class="section">
        <h1 class="title">823년만에 행운의 월</h1>
        <p class="content">
          홍콩 풍수전문가에 의하면 올해 2월과같은달은 우리인생에서 다시오지 않는다 합니다.<br/>
          왜냐하면 월요일이 4일, 화요일 4일, 수요일 4일, 목요일 4일, 금요일 4일, 토요일 4일, 일요일 4일<br/>
          즉 모든요일이 4일로 구성되있어서 입니다.<br/>
          이런2월은 823년에 한번씩 발생합니다.<br/>
          이를 엄청난부자달이라 부릅니다.<br/>
          그래서 최소5명이나 5그룹과 이 내용을 공유하면 4일이내에 돈이 도착합니다.<br/>
          중국풍수에 근거하면 이글을 읽은후 11분이내에 공유해야 한다합니다.<br/>
          모두들~ 대박나세요~<br/>
        </p>
      </section>
    </article>
    <%= require('html-loader!./footer/footer.html') %>
  </body>
</html>
