.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  background-color: #212529;

  &::before {
    content: '';
    height: 100%;
  }

  &::before, > .logo {
    display: inline-block;
    vertical-align: middle;
  }
}
